*, **, *::before, *::after {
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html, body {
    height: 100%;
    width: 100%;
}
body {
    display: grid;
    margin: 0px;
    grid-template-rows: auto 1fr auto;
    background-image: linear-gradient(180deg, #525f7f 40%, #f8f9fe 80%);
}

header {
    grid-row: 1;
    padding: 40px 40px;
}
.logo {
    color: white;
    text-decoration: none;
    font-size: 1em;
    font-weight: bolder;
    display: flex;
    justify-self: left;
}
main {
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_box {
    display: grid;
    justify-content: center;
    text-align: right;
    background: white;
    height: 500px;
    width: 400px;
    border-radius: 5%;
}
form {
    height: fit-content;
    width:fit-content;
    text-align: left;
    padding: 30px 0;
}
.account_Made {
    padding: 10px 0;
    display: grid;
    justify-content: center;
    align-items:center;
}
.account_Made a {
    justify-content: center;
    align-items: center;
}
input {
    height: 2rem;
}
footer {
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-self: center;
}
.plain {
    text-decoration: none;
}
h4 {
    text-align: center;
    font-size: medium;
    font-weight: bold;
}
